<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Locomotive css Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <!-- Font Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700;900&display=swap"
        rel="stylesheet">
    <!-- Icon Link -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav>
        <div class="Container">
            <div class="Column1">
                <a href="home.html" class="Logo">
                    <h4>EPharmacy</h4>
                </a>
            </div>
            <ul class="Column2">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Shop Now</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#" class="service">Service<span class="material-symbols-outlined">
                            expand_more
                        </span></a>
                    <ul class="dropdown">
                        <li><a href="#">Prescriptions</a></li>
                        <li><a href="#">Healthcare Products</a></li>
                        <li><a href="#">Wellness</a></li>
                    </ul>
                </li>
            </ul>
            <div class="Column3">
                <a href="#" class="Button">Sign in</a>
            </div>
            <div class="mobile-nav-btn">
                <span id="menu-icon" class="material-symbols-outlined">
                    menu
                </span>
                <span id="close-icon" class="material-symbols-outlined">
                    close
                </span>
            </div>

        </div>
    </nav>
    <div id="main">
        <div class="hero">hello</div>
        <div class="hero1"></div>
        <div class="hero2">hello</div>
    </div>


    <!-- Locomotive js Link -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <!-- JS Link -->
    <script src="/static/script.js"></script>
</body>

</html>