{% extends "layout.html" %}
{% block title %}Product details{% endblock %}
{% block shop_active %}active{% endblock %}
{% block body %}
<div class="Products">
    <div class="Product">
        <br>
        <img class="table-image" src="{{ url_for('static', filename='images/shop/' + product.Description.lower() + '.png') }}" loading="lazy"/>
        <h1>{{ product.GenericName }}</h1>
        <h2>Brand Name: {{ product.BrandName }}</h2>
        <br>
        <p>Manufacturer: {{ product.Manufacturer }}</p>
        <p>Strength: {{ product.Strength }}</p>
        <p>Description: {{ product.Description }}</p>
        <br>
        <h3>Price: {{ product.Price }} Tk</h3>
        <br>
        <p>Quantity: </p>
        <form action="{{ url_for('add_to_cart', product_id=product.productID, redirect_url=request.url) }}"
            method="post">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit" value="Add to Cart"><span class="material-symbols-outlined">
                add_shopping_cart
                </span></button>
        </form>
        <br>
    </div>
</div>

{% endblock %}