<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="HomeNav">
    <div class="Container">
      <div class="Column0">
        <div class="Logo">
          <div class="logo">IsMask</div>
        </div>
      </div>
      <div class="Column1">
        <a href='/logout' class="Button0">
          <div class="ButtonText">
            Log Out
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="LoginNav">
    <div class="Logo">
        <div class="GreetText">Hello {{name}}!</div>
    </div>
</div>
</body>

</html>