<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="Login">
        <div class="LoginNav">
            <div class="Logo">
                <div class="logo">IsMask</div>
            </div>
        </div>
        <div class="Content0">
            <div class="SectionTitle">
                <div class="LogIn">Log In</div>
                <div class="Text">Welcome back to IsMask</div>
            </div>
            <div class="Content1">
                <div class="Form">
                    <a href="/login" class="Button">
                        <div class="IconGoogle">
                            <img src="https://img.icons8.com/external-those-icons-flat-those-icons/24/external-Google-logos-and-brands-those-icons-flat-those-icons.png"
                                class="Image" alt="external-Google-logos-and-brands-those-icons-flat-those-icons" />
                        </div>
                        <div class="ButtonText">
                            Log in with Google
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="Footer">
            <div class="FooterText">© 2023 IsMask</div>
        </div>
    </div>
</body>

</html>